.carousel .img-wrapper {
    position: relative;
}

.carousel .img-wrapper:hover img {
    opacity: 0.2;
}

.carousel .img-wrapper:hover .info {
    display: block;
}

.carousel .img-wrapper img {
    display: block;
    max-width: 100%;
    max-height: 380px;
    width: auto;
    height: auto;
}

.carousel .info {
    display: none;
    position: absolute;
    top: 18px;
    right: 12px;
    font-family: "Helvetica";
    text-align: right;
    font-style: italic;
    font-size: 14px;
}

.carousel .info .name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}