.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* 
  {backgroundColor:'black', display:'flex' ,justifyContent:'center',outline:'none', boxShadow:'0'} */

@media screen and (min-width: 994px) {
  .landscapeImg {
    width: 100%;
    height: auto;
  }

  .portraitImg {
    width: auto;
    height: 400px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 400px) {
  .imgtext p {
    font-size: 1rem;
    line-height: 1rem;
  }
  .imgtext a {
    font-size: 1rem;
    line-height: 1rem;
  }

  .landscapeImg {
    width: 100%;
    height: auto;
  }

  .portraitImg {
    width: auto;
    height: 200px;
  }
}

@media only screen and (max-width: 993px) and (min-width: 768px) {
  .landscapeImg {
    width: 100%;
    height: auto;
  }

  .portraitImg {
    width: auto;
    height: 250px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .landscapeImg {
    width: 100%;
    height: auto;
  }

  .portraitImg {
    width: auto;
    height: 270px;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  .landscapeImg {
    width: 100%;
    height: auto;
  }

  .portraitImg {
    width: auto;
    height: 330px;
  }
}

.homeWidth {
  width: 800px;
}
