@import url("https://fonts.googleapis.com/css?family=Forum&display=swap");

.cols {
    column-count: 2;
}

.item-container {
    margin-bottom: 40px;
}

.item-container .content {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .cols {
        column-gap: 5%;
    }

    .item-container {
        display: flex;
        align-items: flex-end;
        margin-bottom: 80px;
    }

    .content {
        font-size: 11px;
        width: 400px;
    }

    .content .name {
        font-size: 14px;
    }

    .right-content .img-wrapper {
        order: 1;
    }

    .right-content .content {
        order: 2;
        margin-left: 0.9375rem;
    }

    .left-content .img-wrapper {
        order: 2;
    }

    .left-content .content {
        order: 1;
        text-align: right;
        margin-right: 0.9375rem;
    }
}