@import url("https://fonts.googleapis.com/css?family=Forum&display=swap");

.cols {
  column-count: 2;
}

.item-container {
  margin-bottom: 40px;
}

.item-container .content {
  margin-top: 10px;
}

@media screen and (min-width: 992px) {
  .cols {
    column-gap: 5%;
  }

  .item-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 80px;
  }

  .content {
    font-size: 11px;
    width: 400px;
  }

  .content .name {
    font-size: 14px;
  }

  .right-content .img-wrapper {
    order: 1;
  }

  .right-content .content {
    order: 2;
    margin-left: 0.9375rem;
  }

  .left-content .img-wrapper {
    order: 2;
  }

  .left-content .content {
    order: 1;
    text-align: right;
    margin-right: 0.9375rem;
  }

  .timelineImage {
    width: 800px;
  }
}

.popup {
  /* display: none; */
  position: fixed;
  z-index: 1;
  padding-top: 170px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.466);
}

.popup-content {
  background-color: #ffffff00;
  margin: auto;
  width: 50%;
  position: relative;
}

.close {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 1;
  color: rgb(0, 0, 0);
}

.close:hover,
.close:focus {
  color: rgb(43, 43, 43);
  text-decoration: none;
  cursor: pointer;
}

.gallery {
  flex-wrap: wrap;
  justify-content: center;
  /* height: 100vw;
    max-height: 800px; */
}

.gallery .img-wrapper img {
  height: 300px;
}

.popoverImg {
  width: 600px;
}

.popshit {
  padding: 0px 0px 0px 0px;
}
